@model DiningRoomWA.Ingredient

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewBag.Ingredient.Name</h1>
<h4>Входить у наступні страви:</h4>

<div>
    @foreach (var item in @ViewBag.Dishes) {
        <form asp-controller="Dishes" asp-action="Details" asp-route-id="@item.Id">
            <button class="normal">
                @item.Name
                <div style="float:right; z-index: 1">
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити страву звідусіль</a>
                </div>
            </button>
        </form>     
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@ViewBag.Ingredient.Id">Редагувати назву</a> |
    <a asp-action="Index">Назад до інгредієнтів</a>
</div>
